/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: 'Merriweather', 'Open Sans', system-ui, sans-serif;    
    color: #333;
    line-height: 1.6;
    padding: 20px;
    margin: 0;
    background-image: linear-gradient(to bottom, #ffffff, #f7f7f7, #f2f5e6, #f5f0e0);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Constrained Image Class */
.constrained-img {
    max-width: 75%; /* Ensures the image is never wider than its container */
    height: auto;    /* Maintains the image's aspect ratio */
    display: block;  /* Ensures no unnecessary space below the image */
    margin: 0 auto;  /* Optional: centers the image horizontally if it's smaller than its container */
    border-radius: 10px; /* Optional: adds rounded corners for style */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Link Styles */
a {
    text-decoration: none;
    color: inherit;
}

/* Pseudo-classes for links */
a:link {
    color: #054c02; /* Deep forest green for default links */
}

a:hover {
    color: #066703; 
    text-decoration: underline;
}

a:active {
    color: #8B0000;
}

.container {
    width: 70%; /* This controls the width of your content */
    margin: 0 auto; /* Centers the content horizontally */
    padding-left: 20px; /* Add padding for spacing from the sides */
    padding-right: 20px; /* Add padding for spacing from the sides */
    background-color: white; /* Add background color to visually separate content */
    border-left: 2px solid #ccc; /* Light gray border on the left */
    border-right: 2px solid #ccc; /* Light gray border on the right */
}

/* Section Padding */
.section {
    padding: 60px 0;
}

/* Header Styling */
.header-container {
    background-color: #758064; 
    color: #FFF;
    padding: 20px 10px; /* Adjusted padding */
    margin: -20px -20px 0 -20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-item:nth-of-type(1) {
    flex: 4; /* Gives more space to the title */
    text-align: left;
}

.header-item:nth-of-type(2) {
    flex: 1; /* Less space for the buttons */
    text-align: right;
}

/* Navigation Bar Styling */
.navbar ul {
    list-style-type: none;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    margin-bottom: 20px; 
}

.navbar li {
    list-style-type: none; /* Remove the bullet points */
    float: left; 
    margin: 0 10px; 
}

.navbar a {
    display: block;
    text-decoration: none;
    color: #054c02; 
    text-align: center;
    padding: 0px;
}

.navbar a:hover {
    color: #f5f5f5; 
}

/* Heading Styles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: #0b3e09;
    margin-top: 1.5rem;
    margin-bottom: 1.2rem;
    padding: 10px;
}


/* Specific heading styles */
h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
    text-align: center; /* Centers all h2 elements */
}

h3 {
    font-size: 1.75rem;
    text-align: center; /* Centers all h3 elements */
}

h4, h5, h6 {
    font-size: 1.3rem;
    font-weight: 500;
    color: #054c02; 
    text-align: center;
}

/* Paragraph Styles */
p {
    font-size: 1.2rem;
    color: #333333;
    margin-bottom: 1.5rem;
    line-height: 1.8; 
    padding: 10px;
}

/* List Styling */
ol, ul {
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
    padding-left: 1.5rem;
    padding: 10px;
}

ol li, ul li {
    color: #054c02;; 
    font-size: 1.2rem;
    margin-bottom: 0.75rem;
    list-style-type: disc;
}

/* Button Styling */
button {
    background-color: #6c5238;
    border: none;
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 15px 32px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 10px; 
    padding: 10px;
  }
  
  button:hover {
    background-color: #786C3B; 
  }

/* Form Styling */
.petition-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%; 
    padding-bottom: 50px;
}

.petition-para {
    width: 55%;
    padding-right: 10px;
}

.signatures {
    width: 45%;
    padding-right: 10px;
}

input.error {
    border-style: solid;
    border-width: 2px;
    border-color: red;
    background:pink;
  }

/* Video Container */
.video-container {
    position: relative;
    width: 50%; 
    padding-bottom: 28.13%;
    height: 0;
    overflow: hidden;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.constrained-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Form Styling */
#sign-petition {
    padding: 20px; /* Spacing inside the form */
    border-radius: 8px; /* Rounded corners for the form */
    margin: 20px 0; /* Vertical spacing around the form */
} 

#sign-petition label {
    display: block; /* Makes the label take up the full width */
    margin-bottom: 5px; /* Space below each label */
    color: #333; /* Dark color for text */
    font-size: 16px; /* Slightly larger text for readability */
}


#sign-petition input[type="text"] {
    width: 100%; /* Full width of the form */
    padding: 8px; /* Comfortable padding inside the inputs */
    margin-bottom: 15px; /* Space below each input field */
    border: 1px solid #ccc; /* Subtle border for the inputs */
    border-radius: 4px; /* Slightly rounded borders for the inputs */
}

/* Footer Styling */
.footer {
    background-color: #758064;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0 -30px; /* Add this line to extend the footer to the left and right */
    padding: 10px 20px; /* Update the padding to account for the negative margin */
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

/* Footer Links */
.footer a {
    color: #054c02; 
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline; 
}

/* Revealable Elements */
.revealable {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.revealable.active {
    transform: translateY(0px);
    opacity: 1;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates two equal columns */
    gap: 20px; /* Space between grid items */
    margin: 20px 0; /* Optional: Add some margin around the grid */
}

.grid-item {
    text-align: center; /* Center-aligns the caption */
}

.grid-photo {
    width: 100%; /* Ensures the images fill the grid cells */
    height: auto; /* Maintains the aspect ratio */
    border-radius: 8px; /* Optional: Adds rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
}

.grid-item h5 {
    margin-top: 10px; /* Space between the image and caption */
    font-size: 16px; /* Adjust font size to be more like h5 */
    font-weight: bold; /* Make the text bold for emphasis */
    color: #333; /* Adjust text color as needed */
}

/* the modal that covers the background and prevents user interactions */
.modal {
    display: none; /* hides the modal from view by default*/
    position: fixed; /* keeps the modal in one place */
    z-index: 2; /* positions the modal on top of all other elements on the screen */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.4); /* 40% opacity black - other elements can still be seen */
    flex-direction: column; /* these flexbox rules center the content on the screen */
    align-items: center;
    justify-content: center;
  }
  
  /* box that contains all the content and images */
  .modal-content {
    background-color: #f7f7f7; /* Using the light color from body background gradient */
    color: #333; /* Using the main text color from body */
    text-align: center;
    font-family: 'Merriweather', 'Open Sans', system-ui, sans-serif; /* Using the main font stack */
    font-size: 2rem; /* Reduced from 3rem to be more proportional */
    display: flex; /* adds flexbox to center all items */
    justify-content: center;
    align-items: center;
    border-radius: 10px; /* Matching the constrained-img style */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Matching the constrained-img shadow */
    padding: 20px;
  }

  .modal-image {
    max-width: 300px; /* Constrains the image width */
    height: auto; /* Maintains aspect ratio */
    object-fit: contain; /* Ensures image isn't distorted */
    margin-left: 20px; /* Adds space between text and image */
  }
  
  #thanks-modal-content {
    width: 20rem; /* sets a default width for the text container */
  }
  
  #modal-text-container {
    display: flex; /* adds flexbox to center the text and buttons (stretch feature) */
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
